﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Badhan Sarkar</h1>
    <button onclick="alert('Hello Welcome')">Click Here</button>
</div>
